<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="MyBindingConfiguration"
                 receiveTimeout="23:00:00"
                 sendTimeout="00:00:10"
                 maxBufferPoolSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="10487760"
                        maxNameTableCharCount="10487760" />
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehaviorConfiguration">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:7777/JobSchedulerService" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="JobSchedulerService.Service.JobSchedulerServiceImplementation"
               behaviorConfiguration="MyServiceBehaviorConfiguration">
        <endpoint address="http://localhost:7777/JobSchedulerService"
                  binding="wsDualHttpBinding" bindingConfiguration="MyBindingConfiguration"
                  name="JobSchedulerService" contract="JobSchedulerService.Service.IJobSchedulerService" />
      </service>
    </services>

    <client>
      <endpoint address="http://localhost:7777/JobSchedulerService"
        binding="wsDualHttpBinding" bindingConfiguration="MyBindingConfiguration"
        contract="JobSchedulerService.Service.IJobSchedulerService"
        name="JobSchedulerServiceEndPoint"/>
    </client>
  </system.serviceModel>

</configuration>