<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyMathService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyMathService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/MyMathService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyMathService" contract="IMyMathService"
                name="BasicHttpBinding_IMyMathService" />
            <endpoint address="net.tcp://localhost:9002/MyMathService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMyMathService" contract="IMyMathService"
                name="NetTcpBinding_IMyMathService">
                <identity>
                    <userPrincipalName value="AHARONGI@rafael.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>