<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\log.txt_"/>
      <datePattern value="dd-MM-yyyy_hh-mm-ss.1"/>
      <param name="CountDirection" value="-1"/>
      <param name="AppendToFile" value="false"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="50000KB"/>
      <param name="RollingStyle" value="Date"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value=""/>
        <param name="Footer" value=""/>
        <param name="ConversionPattern" value="$%d|%t|%p|%class,  %method()|%m%n "/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="$%d|%t|%p|%c|%m%n"/>
      </layout>
    </appender>

    <root>
      <priority value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>

    <logger name="NHibernate">
      <level value="WARN"/>
    </logger>

  </log4net>

</configuration>
